/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
# Não é recomendado fazer o commit do arquivo .env de configurações.
# Estou enviado para o respositório para fins didáticos.
#.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
